#foodTitle {
    background: var(--blue);
    background: linear-gradient(0deg, var(--blue) 0%, var(--lightBlue) 100%);
    margin-top: -1rem;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
}
h1 {
    color: #fff;
}
.card {
    margin-top: auto;
    margin-bottom: auto;
    /* width: 90%; */
    height: 50vh;
    aspect-ratio: 2.5/3.5;
    background-color: var(--white);
    z-index: -1;
    filter: drop-shadow(2px 2px 3px #000)
}
#cardHolder {
    position: absolute; 
    width: 100vw;
    height: calc(100% - var(--navHeight)); 
}
#cardHolder div {
    height: 50vh;
    aspect-ratio: 2.5/3.5;
}

@media (max-aspect-ratio: 1/1) {
    .card {
        margin-top: 1rem;
        width: 90vw;
        height: unset;
        aspect-ratio: 3.5/2.5;
    }
    #cardHolder div {
        margin-top: 1rem;
        width: 90vw;
        height: unset;
        aspect-ratio: 3.5/2.5;
    }
}