/* #region Global changes */
:root {
    --red: #e31b23;
    --blue: #00539b;
    --lightBlue: #4eacff;
    --white: #fff;
    --gray: #d2d2d2;
    --black: #000;

    --navHeight: min(4.25vw + 3vh, 20vh);
}
html, body {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: calc(1rem + 0.25vh);
    overflow-x: hidden;
}
.bcg-blue {
    background-color: var(--blue);
}
.bcg-lightBlue {
    background-color: var(--lightBlue);
}
.bcg-white {
    background-color: var(--white);
}
.bcg-gray {
    background-color: var(--gray);
}
/* #endregion */
/* #region navbar */
nav {
    display: grid;
    position: fixed;
    justify-items: center;
    grid-auto-flow: column;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 0 1fr 1fr 1fr;
    background-color: var(--blue);
    height: var(--navHeight);
    width: 100vw;
    overflow: hidden;
    z-index: 100;

    transition: margin-top 400ms ease-in;
}
nav a p {
    margin-top: auto;
    color: #000;
}
.navButton /* equals "nav a" */ {
    background-color: var(--white);
    height: 90%;
    aspect-ratio: 1;
    border-radius: 25%;
    margin-top: 0.25vw;

    overflow: hidden;
    display: grid;
    grid-auto-flow: row;   
    text-decoration: none;

    transition: height 400ms ease-in;
}
.navButton div {
    height: calc(var(--navHeight) * .9 - 1.25rem);
    aspect-ratio: 1;
}
.navButton div img {
    display: inline-block;
    height: 100%;
    aspect-ratio: 1;
    user-select: none;
}
#navToggle {
    position: fixed;
    background-color: var(--blue);
    height: calc(var(--navHeight) / 4);
    width: 5vw;
    margin-top: var(--navHeight);
    z-index: 101;

    border-radius: 0% 0% 2.5vw 2vw;
    transition: margin-top 400ms ease-in;
}
#navToggle p {
    margin-top: 10%;
    color: var(--white);
    line-height: 50%;
}
nav.closed {
    margin-top: calc(-1 * var(--navHeight));
}
body:has(nav.closed) #navToggle {
    margin-top: calc( var(--navHeight)-50%);
}
/* #endregion */

.padding {
    height: var(--navHeight);
    width: 0;
}
.canvas {
    z-index: 1;
}
#jsonCardHolder {
    margin-top: 5rem;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
}
.jsonCard {
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    height: 50vh;
    aspect-ratio: 2.5/3.5;
    background-color: var(--white);
    z-index: -1;
    filter: drop-shadow(2px 2px 3px #000)
}
@media (max-aspect-ratio: 1.75/1) { 
    :root {
        --navHeight: calc(20vh + 4vw);
    }
    nav { 
        grid-auto-flow: row;
        grid-template-columns: 0 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
        align-items: center;
    }
    .navButton div img {
        height: 40%;
    }
    .navButton div {
        aspect-ratio: unset;
    }
    nav.closed .navButton {
        width: calc(var(--navHeight) / 2 * .9)
    }
    nav a p {
        margin-top: -100%;
        user-select: none;
    }
    #navToggle {
        width: 6vw;
        height: calc(var(--navHeight) / 5)
    }
    #Logo {
        top: 37.5vh;
        transform: perspective(400px) rotateY(15deg);
    }
    .padding {
        height: calc(var(--navHeight) / 2.5);
    }
}
@media (max-aspect-ratio: 1/1) {
    #navToggle {
        width: 10vw;
    }
}
@media (min-aspect-ratio: 1.75/1) {
    nav.closed .navButton {
        height: 0;
        aspect-ratio: unset;
        width: calc(var(--navHeight) * .9);
    }
}