/* #region Basic Grids */
.screen-100 {
    display: grid;
    width: 100svw;
    padding: 0;
    margin: 0;
    border: 0;
}
.grid-90 {
    display: grid;
    position: relative;
    width: 90%;
    justify-items: center;

    align-items: center;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.grid-100 {
    display: grid;
    position: relative;
    width: 100%;
    justify-items: center;
    align-items: center;
    text-align: center;
}
/* #endregion */
/* #region Vertical grids */
.grid-column {
    grid-auto-flow: column;
}
.grid-vertical {
    grid-auto-flow: row;
}
.grid-vertical.grid-100 {
    width: unset;
    height: 100%;
}
/* #endregion */
/* #region Images */
.img-90 {
    position: relative;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height:calc(min(90vh, 90%));
    object-fit: cover;
}
.img-100 {
    position: relative;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:calc(min(100vh, 100%));
    object-fit: cover;
}
.no-select {
    user-select: none;
}
.fit-contain {
    object-fit: contain;
}
.img-aspect-16-9 {
    aspect-ratio: 16/9;
}
.align-start {
    align-self: start;
}
.gap-1 {
    gap: 1rem;
}
.centered {
    justify-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* #endregion */
@media (max-aspect-ratio: 1/1) { /* on vertically oriented devices */
    .mobile-hidden {
        opacity: 0;
        height: 0;
        width: 0;
    }
    .grid-90-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}